.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    width: 160px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.menu-item:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 35px rgba(0, 123, 255, 0.4), 0 15px 30px rgba(255, 0, 123, 0.3);
    /* Hover effect from aboutus.css */
}

.menu-text {
    font-size: x-large;
    font-family: 'Arial', sans-serif;
    color: #34495e;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-image {
    width: 50px;
    height: 50px;
}