.app {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
}